# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# Database
db.sqlite3

# Environment Variables
.env

# Media
media/

# Static
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store